/* #hero-img {
    width: 350px;
} */

/* h1 {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
} */

/* .titulo {
    color: var(--color-primary) !important;
    color: var(--color-secondary) !important;
} */

.hero-carousel {
    height: 80vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
    background-color: black;
}

.hero-img {
    height: 80vh;

    /* height: 100vh; */
    /* object-fit: contain; */
    /* object-position: center; */
}
