.footer {
    background-color: var(--color-bg-dark);
}

.footer-title {
    color: var(--color-bg);
    color: var(--color-secondary);
}

.footer-subtitle {
    color: white;
}

.footer-nav-title {
    color: var(--color-secondary);
}

.footer-link {
    color: grey !important;
    text-decoration: none;
}

.footer-link:hover {
    /* color: #ffffff; */
    background-color: white;
}

.footer a.footer-icon {
    color: white;
    transition: color 0.2s ease;
}

.footer a.footer-icon:hover {
    color: yellow;
}

.footer-copyright {
    color: var(--color-accent);
}
